body {
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #f4f4f4;
  }

  .background{
    background-image: url(./background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100dvh;
    left: 0;
    overflow-x: hidden;
    overflow-y: scroll;
    position: fixed;
    top: 0;
    width: 100dvw;
    z-index: -100
  }
  
  .custom-new-tab {
    display: flex;
    justify-content:center;
    align-items: center;
    min-height: 100dvh;

    color: #fff
  }
 
  h1{
    font-size: 40px

  }
